[project]
	description = Openshift v3 Templates and resources for different technologies. Use at your own risk!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gordillo-ramon
[access "refs/for/refs/*"]
	read = group user/gordillo-ramon
	push = group user/gordillo-ramon
	label-Code-Review = -2..+2 group user/gordillo-ramon
	label-Verified = -1..+1 group user/gordillo-ramon
	rebase = group user/gordillo-ramon
	removeReviewer = group user/gordillo-ramon
	submit = group user/gordillo-ramon
[access "refs/heads/*"]
	read = group user/gordillo-ramon
	create = group user/gordillo-ramon
	push = +force group user/gordillo-ramon
	pushMerge = group user/gordillo-ramon
[access "refs/tags/*"]
	push = group user/gordillo-ramon
	push = +force group user/gordillo-ramon
